header{
	margin-top: 10px;
	margin-right: 40px;
	margin-left: 20px;
}

header img{
	float: left;
	width: 25%;
	margin-bottom: 20px;
}

header h1{
	font-size: 1vw;
	float: right;
	color: #8C1D40;
	margin-bottom: 20px;
}

header h1 a{
	text-decoration: none;
	color: black;
}

.homeLinks{
	clear: left;
}

.homeLinks table{
	background-color: #8C1D40;
	color: white;
	width: 100%;
}

.homeLinks tr td{
	margin-top: 100px;
	border-collapse: separate;
	border-spacing: 5px;
	font-size: 16px;
	padding: 15px;
	text-align: center;
}

.homeLinks tr td a:link{ /* unvisited link */
	text-decoration: none;
	color: white;
}

.homeLinks tr td a:hover{ /* link mouse over it */
	text-decoration: underline;
}

.homeLinks tr td a:visited{ /* visited link */
	text-decoration: none;
	color: white;
}